ALTER TABLE UNIVERSITY.COURSE
  DROP CONSTRAINT FK_COURSE_DEPARTMENT;


ALTER TABLE UNIVERSITY.COURSE ADD (
  CONSTRAINT FK_COURSE_DEPARTMENT 
 FOREIGN KEY (DNAME) 
 REFERENCES UNIVERSITY.DEPARTMENT (DNAME));
-------------------------------------
ALTER TABLE UNIVERSITY.COURSE
  DROP CONSTRAINT FK_COURSE_PROFESSOR;

ALTER TABLE UNIVERSITY.COURSE ADD (
  CONSTRAINT FK_COURSE_PROFESSOR 
 FOREIGN KEY (PROFESSOR_ID) 
 REFERENCES UNIVERSITY.PROFESSOR (PROFESSOR_ID));
---------------------------------------------
ALTER TABLE UNIVERSITY.DEPARTMENT
  DROP CONSTRAINT FK_MANAGER;

ALTER TABLE UNIVERSITY.DEPARTMENT ADD (
  CONSTRAINT FK_MANAGER 
 FOREIGN KEY (MANAGER_ID) 
 REFERENCES UNIVERSITY.PROFESSOR (PROFESSOR_ID));
-----------------------------------------------
ALTER TABLE UNIVERSITY.PROF_PHO
  DROP CONSTRAINT FK_PROF_PHO_PROFESSOR;

ALTER TABLE UNIVERSITY.PROF_PHO ADD (
  CONSTRAINT FK_PROF_PHO_PROFESSOR 
 FOREIGN KEY (PROFESSOR_ID) 
 REFERENCES UNIVERSITY.PROFESSOR (PROFESSOR_ID));
-------------------------------------
ALTER TABLE UNIVERSITY.PROFESSOR
  DROP CONSTRAINT FK_PROFESSOR_DEPARTMENT;


ALTER TABLE UNIVERSITY.PROFESSOR ADD (
  CONSTRAINT FK_PROFESSOR_DEPARTMENT 
 FOREIGN KEY (DNAME) 
 REFERENCES UNIVERSITY.DEPARTMENT (DNAME));
----------------------------------------
ALTER TABLE UNIVERSITY.STUD_COURSE
  DROP CONSTRAINT FK_STUD_COURSE_COURSE;


ALTER TABLE UNIVERSITY.STUD_COURSE ADD (
  CONSTRAINT FK_STUD_COURSE_COURSE 
 FOREIGN KEY (CID) 
 REFERENCES UNIVERSITY.COURSE (CID));
---------------------------------------------
ALTER TABLE UNIVERSITY.STUD_COURSE
  DROP CONSTRAINT FK_STUD_COURSE_STUDENT;


ALTER TABLE UNIVERSITY.STUD_COURSE ADD (
  CONSTRAINT FK_STUD_COURSE_STUDENT 
 FOREIGN KEY (STUD_ID) 
 REFERENCES UNIVERSITY.STUDENT (STUD_ID));
-----------------------------------------------
ALTER TABLE UNIVERSITY.STUD_PHO
  DROP CONSTRAINT FK_STUD_PHO_STUDENT;


ALTER TABLE UNIVERSITY.STUD_PHO ADD (
  CONSTRAINT FK_STUD_PHO_STUDENT 
 FOREIGN KEY (STUD_ID) 
 REFERENCES UNIVERSITY.STUDENT (STUD_ID));
-------------------------------------------------
ALTER TABLE UNIVERSITY.STUDENT
  DROP CONSTRAINT FK_STUDENT_DEPARTMENT;


ALTER TABLE UNIVERSITY.STUDENT ADD (
  CONSTRAINT FK_STUDENT_DEPARTMENT 
 FOREIGN KEY (DNAME) 
 REFERENCES UNIVERSITY.DEPARTMENT (DNAME));
